@import "libs/variables";
@import "libs/container-mixins";
@import "slick.min.css";

.header .navigation__action {
    @media (min-width: 1024px) {
        display: none;
    }
}

.main-banner {
    display: flex;
    min-height: 401px;
    padding: 24% 0 20px;
    background-position: 50%;
    background-size: cover;
    background-image: url(../img/hero-bg.jpg);
    z-index: 3;

    &::before {
        position: absolute;
        top: -0;
        content: "";
        pointer-events: none;
        background-image: url(../img/hero-mockUp.png);
        background-size: contain;
        background-repeat: no-repeat;
        left: 65%;
        transform: translate(-50%, 0px);
        width: 657px;
        height: 457px;

        @media (min-width: 480px) {
            left: 54%;
            width: 400px;
            height: 457px;
        }

        @media (min-width: 768px) {
            left: 34%;
            width: 588px;
        }

        @media (min-width: 1024px) {
            left: 26%;
            width: 63%;
            height: 1006px;
        }

        @media (min-width: 1680px) {
            left: 33%;
            width: 66%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1422px;
        height: 1000px;
        background-image: url(../img/Graphs.png);
        opacity: 0.6;
        mix-blend-mode: multiply;
        pointer-events: none;

        width: 570px;
        height: 402px;
        background-size: contain;

        @media (min-width: 1024px) {
            width: 1422px;
            height: 1000px;
        }
    }

    @media (min-width: 768px) {
        padding: 16% 0 10%;
    }

    @media (min-width: 1280px) {
        padding: 12% 0 10%;
    }

    @media (min-width: 1400px) {
        padding: 14% 0;
        min-height: 800px;
    }

    @media (min-width: 1680px) {
        min-height: 1078px;
    }

    &__inner {
        @include container;
        display: flex;
        justify-content: flex-end;
        padding-top: 388px;
        padding-bottom: 42px;

        @media (min-width: 480px) {
            padding-top: 198px;
        }

        @media (min-width: 768px) {
            padding: 0;
        }
    }

    &__content {
        width: 100%;
        padding-bottom: 100px;

        @media (min-width: 768px) {
            width: 50%;
        }

        @media (min-width: 1024px) {
            width: 50%;
            padding-bottom: 0;
        }
    }

    &__question {
        display: none;
        position: absolute;
        top: 89px;
        right: 125px;

        @media (min-width: 1024px) {
            display: flex;
            top: 54px;
            right: 80px;
        }

        @media (min-width: 1400px) {
            top: 89px;
            right: 125px;
        }

        .icon-question {
            position: absolute;
            right: -57px;
            top: 20px;

            @media (min-width: 1400px) {
                right: -74px;
                top: 20px;
            }
        }
    }

    &__logo {
        display: none;
        margin-right: 57px;

        @media (min-width: 1024px) {
            display: inline-block;
        }
    }

    &__title {
        @media (min-width: 1024px) {
            margin-top: 43px;
        }
    }

    &__description {
        font-size: 13px;
        line-height: 15px;

        @media (min-width: 1024px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .button {
        margin: 17px auto;
        display: flex;

        @media (min-width: 1024px) {
            margin: 0;
            margin-top: 41px;
        }
    }

    .button--small {
        vertical-align: top;
        margin-top: 38px;
        display: none;

        @media (min-width: 1024px) {
            display: inline-flex;
        }
    }

    &__arrow-down {
        display: block;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        background-image: url(../img/arrow-down.svg);
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, 0);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @media (min-width: 1024px) {
            top: 89%;
        }
    }
}

.advantages {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
    z-index: 2;

    @media (min-width: 768px) {
        padding-bottom: 68px;
    }

    &__inner {
        @include container;
    }

    &__title {
        display: block;
        margin: 40px auto 40px;
        text-align: center;

        @media (min-width: 768px) {
            margin: 71px auto 60px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (min-width: 1024px) {
            padding: 0 5%;
        }
    }

    &__item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 155px;
        margin-bottom: 36px;

        @media (min-width: 768px) {
            width: 40%;
        }

        @media (min-width: 1024px) {
            width: 50%;
            margin-bottom: 40px;
        }

        @media (min-width: 1280px) {
            width: 220px;
        }

        &-image {
            border-radius: 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: $color_white;
            box-shadow: -15px 4px 20px rgba(0, 0, 0, 0.12);
            width: 60px;
            height: 60px;
            margin-bottom: 15px;
            padding-left: 5px;
            padding-top: 5px;

            @media (min-width: 1024px) {
                width: 115px;
                height: 115px;
                border-radius: 30px;
                margin-bottom: 10px;
            }
        }

        &-title {
            margin-bottom: 16px;

            @media (min-width: 1024px) {
                margin-bottom: 12px;
            }
        }

        &-description {
            font-size: 13px;
            line-height: 15px;
            max-width: 134px;

            @media (min-width: 1024px) {
                font-size: 16px;
                line-height: 20px;
                max-width: none;
            }
        }
    }
}

.opportunities {
    padding-top: 115px;
    background: linear-gradient(270deg,
            #ffffff 13.02%,
            rgba(255, 255, 255, 0) 100%);
    padding-bottom: 33px;

    &::before {
        position: absolute;
        content: "";
        pointer-events: none;
        // mix-blend-mode: multiply;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        opacity: 0.4;
        background-image: url(../img/Molecules.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }

    @media (min-width: 768px) {
        padding-bottom: 130px;
    }

    @media (min-width: 1024px) {
        min-height: 650px;
        padding-top: 13%;
    }

    @media (min-width: 1680px) {
        min-height: 970px;
        padding-bottom: 60px;
    }

    &__inner {
        margin: 0 auto;
        padding: 0 23px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (min-width: 1024px) {
            padding: 0 80px;
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        text-align: left;
        display: block;
        width: 100%;
        margin-bottom: 22px;
        line-height: normal;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        order: 1;

        @media (min-width: 768px) {
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 50px;
            margin-bottom: 28px;
            width: 45%;
        }

        @media (min-width: 1280px) {
            width: 38%;
        }
    }

    &__carousel {
        position: relative;
        z-index: 1;
        width: 100%;
        order: 2;
        padding-bottom: 48px;

        @media (min-width: 768px) {
            min-height: 175px;
            width: 45%;
            padding-bottom: 0;

            &::after {
                display: none;
            }
        }

        @media (min-width: 1280px) {
            width: 38%;
            min-height: 288px;
        }
    }

    &__image {
        position: absolute;
        bottom: 61px;
        left: 52%;
        min-width: 542px;
        height: 441px;
        order: 4;
        -o-object-fit: contain;
        object-fit: contain;
        transform: translate(-50%, 0);

        @media (min-width: 768px) {
            z-index: 0;
            top: 15px;
            left: 24%;
            width: 72%;
            height: 734px;
        }

        @media (min-width: 1680px) {
            top: -13px;
            width: 100%;
            height: 1004px;
        }
    }

    &__item {
        &-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            font-style: normal;
            max-width: 80%;
            margin-bottom: 28px;
            display: block;

            @media (min-width: 1024px) {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: normal;
                margin-bottom: 22px;
            }
        }

        &-description {
            max-width: 500px;
        }
    }

    &__action {
        width: 100%;
        margin-bottom: 36px;
        position: relative;
        text-align: center;
        order: 5;

        @media (min-width: 768px) {
            width: 45%;
            text-align: left;
            order: 4;
        }

        @media (min-width: 1280px) {
            width: 38%;
        }
    }

    &__dots {
        z-index: 1;
        width: 100%;
        order: 3;
        padding-bottom: 372px;

        @media (min-width: 768px) {
            position: relative;
            width: 45%;
            left: auto;
            bottom: auto;
            padding: 0;
            order: 4;
        }

        @media (min-width: 1280px) {
            width: 38%;
        }

        .slick-dots {
            display: flex;

            li {
                margin: 5px 3px;
                width: 10px;
                height: 10px;
                border: 3px solid $color_green;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                @media (min-width: 1024px) {
                    width: 18px;
                    height: 18px;
                    margin: 5px;
                }

                button {
                    font-size: 0;
                    background-color: inherit;
                    border: none;
                }
            }

            .slick-active {
                background-color: $color_green;
            }
        }
    }
}

.video {
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
        height: 400px;
    }

    @media (min-width: 1280px) {
        height: 557px;
    }

    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__iframe {
        display: none;
        width: 100%;
        height: 100%;
    }

    &__button {
        position: absolute;
        z-index: 666;
        top: 51%;
        left: 50%;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        border: none;
        background-color: inherit;
        position: absolute;
        background-image: url(../img/triangle.png);
        background-size: contain;

        @media (min-width: 768px) {
            width: 140px;
            height: 140px;
        }
    }
}

.step {
    background-size: cover;
    padding: 0 26px 80px;
    overflow: hidden;

    @media (min-width: 768px) {
        padding: 0 40px 40px;
        background-image: url(../img/bg-color.png);
    }

    @media (min-width: 1680px) {
        height: 1078px;
        overflow: hidden;
    }

    &::after {
        position: absolute;
        z-index: -1;
        top: -46px;
        right: 0;
        width: 80%;
        height: 600px;
        content: "";
        opacity: 0.3;
        background-image: url(../img/bg-image.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

        @media (min-width: 1024px) {
            top: 0;
            height: 100%;
        }

        @media (min-width: 1680px) {
            width: 35%;
            height: 100%;
        }
    }

    &__inner {
        display: flex;
        max-width: 1623px;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 54px;

        @media (min-width: 768px) {
            padding-top: 102px;
        }
    }

    &__heading {
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width: 1024px) {
            padding-bottom: 164px;
        }

        @media (min-width: 1680px) {
            padding-bottom: 132px;
        }

        &-title {
            display: inline-block;
            margin-right: 46px;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            width: 70%;

            @media (min-width: 768px) {
                font-style: normal;
                font-weight: 500;
                font-size: 45px;
                line-height: 54px;
                width: auto;
            }
        }

        &-dots {
            position: relative;

            @media (min-width: 1280px) {
                width: 38%;
            }

        }
    }

    &__list {
        width: 100%;
        margin-top: 30px;

        @media (min-width: 1024px) {
            width: 42%;
        }

        @media (min-width: 1400px) {
            margin-top: 43px;

            .slick-list {
                min-height: 810px;
                margin-top: -30px;
            }
        }
    }

    &__item {
        cursor: pointer;
        height: 100%;

        @media (min-width: 1024px) {
            min-height: 320px;
            padding-bottom: 40px;
            transition: all 0.6s linear;
            -webkit-transition: all 0.6s linear;
            -moz-transition: all 0.6s linear;
            -ms-transition: all 0.6s linear;
            -o-transition: all 0.6s linear;
        }

        &.slick-slide {
            @media (min-width: 1024px) {
                padding-left: 25px;

                .step__item-title,
                .step__item-counter,
                .step__item-description {
                    color: $color_grey;
                }
            }

            @media (min-width: 1680px) {
                padding-left: 105px;
            }
        }

        &.slick-current {
            padding-left: 0;
            width: 100% !important;

            .step__item-title,
            .step__item-counter,
            .step__item-description {
                color: $color_black;
            }
        }

        &-counter {
            margin-bottom: 23px;
            display: block;
            color: $color_grey;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            @media (min-width: 1024px) {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
            }
        }

        &-title {
            margin-bottom: 20px;
            color: $color_grey;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;

            @media (min-width: 1024px) {
                font-size: 32px;
                font-weight: 500;
                line-height: 35px;
                margin-bottom: 25px;
                max-width: 522px;
                width: 89%;
            }

            @media (min-width: 1400px) {
                font-size: 36px;
                line-height: 40px;
            }

            @media (min-width: 1680px) {
                font-size: 45px;
                line-height: 54px;
            }
        }

        &-description {
            color: $color_grey;

            @media (min-width: 1024px) {
                max-width: 522px;
                width: 89%;
            }
        }
    }

    &__carousel {
        width: 100%;
        margin-top: 62px;
        box-shadow: -25px -25px 50px rgba(255, 255, 255, 0.9),
            25px 25px 63px rgba(184, 184, 184, 0.9),
            inset 1px 1px 2px rgba(255, 255, 255, 0.3),
            inset -1px -1px 2px rgba(184, 184, 184, 0.5);
        border-radius: 10px;

        @media (min-width: 768px) {
            border-radius: 30px;
        }

        @media (min-width: 1024px) {
            width: 58%;
            margin-top: 0;
            height: fit-content;
        }

        @media (min-width: 1400px) {
            width: 59%;
            margin-top: -1%;
            margin-right: -18%;
            border-radius: 30px;
        }

        &-image {
            width: 100%;
            height: 100%;
            border-radius: 10px;

            -o-object-fit: contain;
            object-fit: contain;

            @media (min-width: 768px) {
                border-radius: 30px;
            }
        }
    }
}

.rates {
    background: linear-gradient(0deg,
            rgba(196, 196, 196, 0) 55.21%,
            rgba(196, 196, 196, 0.3) 93.75%);
    padding-top: 83px;

    &__inner {
        @include container;
    }

    &__heading {
        margin-top: 14%;
        max-width: 1045px;
        margin: 14% auto 6px;

        &-item {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;

            &:nth-of-type(2),
            &:nth-of-type(3) {
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 33px;
                text-align: center;

                @media (min-width: 768px) {
                    font-size: 18px;
                }

                @media (min-width: 1024px) {
                    font-size: 22px;
                }

                @media (min-width: 1280px) {
                    font-size: 28px;
                }
            }
        }

        &-item:nth-of-type(1) {
            width: 62%;
        }

        &-item:nth-of-type(2) {
            width: 20%;
        }

        &-item:nth-of-type(3) {
            width: 27%;
        }

        &-list {
            display: flex;
            margin-top: 14%;
        }
    }

    &__list {
        max-width: 1045px;
        margin: 0 auto;
    }

    &__item-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding-right: 29%;
    }

    &__content {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        width: 55%;
        padding-top: 25px;
        padding-bottom: 25px;

        ul {
            padding-right: 20%;

            li {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 10px;
        border-bottom: 1px solid;

        &:last-child {
            border: none;
        }
    }

    &__item-image {
        filter: drop-shadow(-15px 4px 20px rgba(0, 0, 0, 0.12));
        -webkit-filter: drop-shadow(-15px 4px 20px rgba(0, 0, 0, 0.12));
    }

    &__item-value {
        span {
            display: block;
            width: 100%;
            margin: 0 auto;
        }

        .shadow--padding {
            margin-left: -43px;
            filter: none;
            -webkit-filter: none;
        }
    }

    &__item-value:nth-child(2) {
        width: 19%;
        text-align: center;
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item-value:nth-child(3) {
        width: 25%;
        text-align: center;
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        display: block;
    }

    &__option {
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            width: 400px;
            display: block;
        }
    }
}

.price {
    padding-top: 105px;
    padding-bottom: 84px;

    &::after {
        position: absolute;
        top: -119px;
        right: -43px;
        width: 30%;
        height: 645px;
        content: "";
        background-image: url(../img/bg-price.png);
        background-repeat: no-repeat;
        z-index: 0;
    }

    &__inner {
        @include container;
    }

    .form {
        max-width: 1018px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: 1680px) {
            justify-content: flex-start;
        }

        &__group {
            width: 31%;
        }

        &__column {
            display: flex;
            flex-direction: column;
            min-width: 27%;

            &-title {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                display: block;
                margin-bottom: 27px;
            }

            &-total {
                font-style: normal;
                font-weight: 500;
                font-size: 35px;
                line-height: 42px;
                text-shadow: -15px 4px 20px rgba(0, 0, 0, 0.12);
                display: block;
                margin-bottom: 27px;
            }

            &-description {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: $color_greenDark;
            }
        }

        &__action {
            display: flex;
            width: 100%;
            margin: 0 auto;
            justify-content: center;
        }
    }

    .select {
        margin-bottom: 20px;

        label {
            display: block;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            max-width: 250px;
            margin-bottom: 13px;
        }

        .sale {
            background: $color_greenDark;
            box-shadow: -15px 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 25px;
            padding: 4px 15px;
            height: 28px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $color_white;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin: 16px 25px;
        }
    }
}

.demo {
    background-image: url(../img/bg-demo.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 26px;

        @media (min-width: 1024px) {
            padding: 89px;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;

        @media (min-width: 1024px) {
            margin-bottom: 20px;
            font-size: 45px;
            line-height: 54px;
        }

    }

    &__description {
        max-width: 274px;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 15px;
        font-weight: 500;
        font-style: normal;

        @media (min-width: 1024px) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 28px;
            max-width: 446px;
        }
    }
}

.reviews {
    padding-bottom: 20px;

    @media (min-width: 1280px) {
        &::after {
            position: absolute;
            content: "";
            background-image: url(../img/bg-image-2.png);
            background-size: contain;
            top: -30%;
            right: 0;
            width: 27%;
            height: 630px;
            z-index: -1;
            background-position: right;
            background-repeat: no-repeat;
        }
    }

    @media (min-width: 1680px) {
        &::after {
            top: -37%;
        }
    }

    &__heading {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1623px;
        margin: 0 auto;
        padding-top: 55px;
        padding-bottom: 10px;
        justify-content: space-between;

        @media (min-width: 1024px) {
            justify-content: flex-start;
            padding-top: 95px;
            padding-bottom: 50px;
        }

        &-title {
            display: inline-block;
            margin-right: 46px;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;

            @media (min-width: 1024px) {
                font-size: 45px;
                font-weight: 500;
                line-height: 50px;
            }
        }

        &-dots {
            position: relative;

            @media (min-width: 1280px) {
                width: 38%;
            }
        }
    }

    &__carousel {
        @media (min-width: 1280px) {
            padding-left: 120px;
        }
    }

    &__item {
        padding: 30px 10px 15px 25px;
        margin: 0 auto;
        display: flex !important;
        justify-content: center;

        @media (min-width: 1280px) {
            padding: 30px 5px 30px 30px;
            margin: 0;
            justify-content: flex-start;
        }

        &-inner {
            background: $color_silver;
            display: flex !important;
            width: 260px;
            padding: 20px;
            border-radius: 10px;
            flex-direction: column;
            box-shadow: -6px 3px 12px rgba(0, 0, 0, 0.12);

            @media (min-width: 1024px) {
                flex-direction: row;
                width: 785px;
                box-shadow: -15px 4px 20px rgba(0, 0, 0, 0.12);
                border-radius: 40px;
                padding: 48px 60px;
            }

            @media (min-width: 1280px) {
                width: 1005px;
            }
        }

        &-image {
            width: 60px;
            min-width: 60px;
            height: 60px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            position: relative;
            margin: 0 auto 18px;
            filter: drop-shadow(-6px 3px 12px rgba(0, 0, 0, 0.12));

            @media (min-width: 1024px) {
                min-width: 250px;
                width: 250px;
                height: 250px;
                filter: drop-shadow(-15px 4px 20px rgba(0, 0, 0, 0.12));
                margin-right: 10px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-width: none;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &-content {
            margin: 0;

            @media (min-width: 1024px) {
                margin: 0 40px;
            }
        }

        &-name {
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;

            span {
                font-size: 20px;
                line-height: 24px;
                display: block;
                font-weight: 500;
            }

            @media (min-width: 1024px) {
                font-size: 35px;
                line-height: 42px;
                margin-bottom: 25px;

                span {
                    font-size: 35px;
                    line-height: 42px;
                }
            }
        }

        &-subtitle {
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            font-style: normal;
            font-weight: 500;

            @media (min-width: 1024px) {
                font-size: 24px;
                line-height: 29px;
                text-align: left;
            }
        }

        &-blockquote {
            position: relative;
            margin: 15px 0;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;

            @media (min-width: 1024px) {
                margin: 25px 0 0 45px;
                font-size: 16px;
                line-height: 20px;

                &::before,
                &::after {
                    position: absolute;
                    top: 60%;
                    left: -42px;
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat;
                    content: "";
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    background-image: url(../img/bloquote.svg);
                }

                &::after {
                    left: auto;
                    transform: rotate(180deg);
                    top: 36%;
                    right: -44px;
                }
            }
        }
    }
}

.partners {
    background: linear-gradient(0deg,
            rgba(196, 196, 196, 0) 55.21%,
            rgba(196, 196, 196, 0.3) 93.75%);
    padding-bottom: 30px;

    @media (min-width: 1024px) {
        padding-bottom: 163px;
    }

    &__heading {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 23px;

        @media (min-width: 1024px) {
            padding-top: 72px;
            padding-bottom: 32px;
            text-align: center;
            justify-content: center;
        }

        &-title {
            display: block;
            text-align: center;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;

            @media (min-width: 768px) {
                font-size: 35px;
                font-weight: 500;
                line-height: 40px;
            }

            @media (min-width: 1024px) {
                font-size: 45px;
                font-weight: 500;
                line-height: 50px;
            }
        }
    }

    &__carousel {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;

        @media (min-width: 1024px) {
            padding-top: 10px;
            width: auto;
            margin: 0;
        }
    }

    &__item {
        display: flex !important;
        min-height: 50px;
        margin: 5px auto 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 26%;

        @media (min-width: 1024px) {
            min-height: 200px;
            margin: 0 auto;
            padding: 23px;
            width: auto;
        }
    }
}

.faq {
    background: linear-gradient(0deg,
            rgba(196, 196, 196, 0) 55.21%,
            rgba(196, 196, 196, 0.3) 93.75%);
    padding-bottom: 60px;

    @media (min-width: 1024px) {}

    &__heading {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 1623px;
        margin: 0 auto;
        position: relative;
        padding-top: 21px;
        padding-bottom: 10px;

        @media (min-width: 1024px) {
            justify-content: center;
            padding-top: 60px;
            padding-bottom: 25px;
        }

        &-title {
            display: inline-block;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;

            @media (min-width: 1024px) {
                font-weight: 500;
                font-size: 45px;
                line-height: 50px;
            }
        }

        &-dots {
            @media (min-width: 1024px) {
                position: absolute;
                left: 0;
                top: 64px;
            }
        }
    }

    &__carousel {
        @media (min-width: 1280px) {
            padding-left: 120px;
        }
    }

    &__item {
        padding: 30px;
        margin: 0 auto;
        display: flex !important;
        justify-content: center;

        @media (min-width: 1280px) {
            padding: 30px 10px 30px 30px;
            margin: 0;
            justify-content: flex-start;
        }

        &-inner {
            background: $color_silver;
            box-shadow: -15px 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            padding: 42px 38px 45px;
            width: 400px;

            @media (min-width: 1280px) {
                width: 440px;
            }
        }

        &-title {
            font-weight: 500;
            font-size: 35px;
            line-height: 42px;
            margin-bottom: 20px;
        }
    }

    .button {
        margin: 42px auto;
        display: flex;
    }
}

.contact-us {
    background: linear-gradient(0deg,
            rgba(196, 196, 196, 0) 55.21%,
            rgba(196, 196, 196, 0.3) 93.75%);
    padding-top: 30px;

    &__inner {
        @include container;
    }

    &__title {
        text-align: center;
    }

    #mail {
        width: 158px;
    }

    #name {
        width: 246px;
    }
}