@import "libs/variables";
@import "libs/container-mixins";

.politic {
    padding: 50px 0;

    &__inner {
        @include container;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__link {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        @media (min-width: 768px) {
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            line-height: 35px;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 10px;
        list-style-type: disc;
        list-style-position: inside;
    }

}