<header class="header" id="header">
    <nav class="header__navigation">
        <div class="navigation__action">
            <a href="#" class="navigation__logo">
                <img src="img/logo.png" alt="logo">
            </a>
            <button class="button button--small">войти</button>
        </div>
        <span class="menu-burger">
            <span class="menu-burger__toggle-line"></span>
        </span>
        <div class="header__overlay"></div>
        <div class="navigation__list">
            <ul>
                <li class="navigation__item">
                    <a href="index.html" class="navigation__link">Преимущества</a>
                </li>
                <li class="navigation__item">
                    <a href="about-us.html" class="navigation__link">Функции</a>
                </li>
                <li class="navigation__item">
                    <a href="about-us.html" class="navigation__link">Как это работает?</a>
                </li>
                <li class="navigation__item">
                    <a href="about-us.html" class="navigation__link">Тарифы</a>
                </li>
                <li class="navigation__item">
                    <a href="about-us.html" class="navigation__link">Обратная связь</a>
                </li>
            </ul>
            <button class="button button--small">войти</button>
        </div>
    </nav>
</header>