<header class="header" id="header">
    <div class="header__inner">
        <div class="header__action">
            <a href="index.html" class="header__logo">
                <img src="img/logo.png" class="header__logo-image" alt="logo">
            </a>
            <button class="header__button button button--small log-in">войти</button>
        </div>
        <span class="menu-burger">
            <span class="menu-burger__toggle-line"></span>
        </span>
        <div class="header__overlay"></div>
        <div class="navigation header__navigation fadeInUp wow">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="index.html#advantages" class="navigation__link">Преимущества</a>
                </li>
                <li class="navigation__item">
                    <a href="index.html#opportunities" class="navigation__link">Функции</a>
                </li>
                <li class="navigation__item">
                    <a href="index.html#step" class="navigation__link">Как это работает?</a>
                </li>
                <li class="navigation__item">
                    <a href="index.html#rates" class="navigation__link">Тарифы</a>
                </li>
                <li class="navigation__item">
                    <a href="index.html#contact-us" class="navigation__link">Обратная связь</a>
                </li>
                <li class="navigation__item">
                    <a href="about.html" class="navigation__link">О нас</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Блог</a>
                </li>
            </ul>
            <button class="button button--small log-in">войти</button>
        </div>
    </div>
</header>